randoop-VS-plugin-2010/Randoop/InstallRandoop/Debug
randoop-VS-plugin-2010/Randoop/InstallRandoop/Release

randoop-VS-plugin-2010/Randoop/Randoop/obj/Release
randoop-VS-plugin-2010/Randoop/Randoop/obj/Debug
randoop-VS-plugin-2010/Randoop/Randoop/bin

randoop-VS-plugin-2010/Randoop/RandoopAddinTesting/bin/Debug
randoop-VS-plugin-2010/Randoop/RandoopAddinTesting/bin/Release
randoop-VS-plugin-2010/Randoop/RandoopAddinTesting/obj/Debug
randoop-VS-plugin-2010/Randoop/RandoopAddinTesting/obj/Release

ClassLibrary1/TestResults

randoop-NET-src/PostBuild/bin
randoop-NET-src/PostBuild/obj
randoop-NET-src/Randoop/bin
randoop-NET-src/Randoop/obj
randoop-NET-src/RandoopBare/bin
randoop-NET-src/RandoopBare/obj
randoop-NET-src/RandoopCommon/bin
randoop-NET-src/RandoopCommon/obj
randoop-NET-src/RandoopImpl/bin
randoop-NET-src/RandoopImpl/obj
randoop-NET-src/RandoopTests/bin
randoop-NET-src/RandoopTests/obj
